# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other-FHV-services-jan-july15` and `lyft` tables in RideShareDB.Â These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in `other-FHV-services-jan-july15`. Do you see anything that is a common abbreviation at the end of business names?

The number of trips and the number of pickups are both stored as strings in `other-FHV-services-jan-july15`. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.

In [11]:
SELECT TOP 10 (Base_Name), RIGHT(Base_Name, 3)
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;   --Most of them end in INC or CORP.

SELECT TOP 10 (Number_of_Trips), LTRIM(Number_of_Trips)
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;

Base_Name,(No column name)
LOVE CORP CAR INC,INC
NY ONE CORP CAR INC,INC
COMMUNITY CAR SVC CORP,ORP
CHARGE AND RIDE INC,INC
LIBERTY CAR SERVICE INC.,NC.
PROFESSIONAL CAR SERVICE INC,INC
"PARK WEST EXEC. SERVICES, INC.",NC.
YELLOWSTONE TRANSPORTATION INC.,NC.
XYZ TWO WAY RADIO,DIO
FLEET RADIO DISPATCH CORP.,RP.

Number_of_Trips,(No column name)
26,26
45,45
731,731
10,10
814,814
220,220
36,36
"1,137","1,137"
236,236
47,47

## Date Functions

For ``other-FHV-services-jan-july15``, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?

In [14]:
SELECT TOP 10 (Pick_Up_Date), DATENAME(MONTH, Pick_Up_Date)
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY (Pick_Up_Date) DESC;

Pick_Up_Date,(No column name)
2015-08-31,August
2015-08-31,August
2015-08-31,August
2015-08-31,August
2015-08-30,August
2015-08-30,August
2015-08-30,August
2015-08-29,August
2015-08-29,August
2015-08-29,August

Using `other-FHV-services-jan-july15`, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.

In [15]:
SELECT TOP 10 (Pick_Up_Date),DATEPART(DAY, Pick_Up_Date), DATENAME(MONTH, Pick_Up_Date)
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015
ORDER BY DATEPART(DAY, Pick_Up_Date) ASC;

Pick_Up_Date,(No column name),(No column name)
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January
2015-01-01,1,January

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [18]:
SELECT TOP 1 (start_lat), MAX(start_lat)
FROM RideShareDB.dbo.lyft
GROUP BY start_lat;

start_lat,(No column name)
40.57728,40.57728

Write a query the returns the most northerly Lyft pickup.

In [19]:
SELECT TOP 1 (start_lng), MAX(start_lng)
FROM RideShareDB.dbo.lyft
GROUP BY start_lng;

start_lng,(No column name)
-73.98592,-73.98592

Using ``other-FHV-services-jan-july15``, write a query that connects the the base number and the base name in a string that uses the following format: base\_number: base\_name.

In [25]:
SELECT TOP 5 FORMAT (Base_Number, Base_Name, 'string: string')
FROM RideShareDB.dbo.other_FHV_services_jan_aug_2015;

: Msg 8116, Level 16, State 1, Line 1
Argument data type nvarchar is invalid for argument 1 of format function.